---
import BaseLayout from "../../layouts/BaseLayout.astro";
import Separator from "../../components/separator.astro";
import { getTranslations } from "../../utils/translations";

import aboutData from "../../content/about.json";

const lang =  "sv";

const t = getTranslations(lang);
---

<BaseLayout title="Om oss | Hjort Olârs" lang={lang}>

  <section id="about">
    <h2>{t.about}</h2>
    <p>{aboutData.text_sv}</p>
  </section>

</BaseLayout>