---
import BaseLayout from "../../layouts/BaseLayout.astro";
import hoursData from "../../data/openingHours.json";
---

<BaseLayout title="Öppettider | Hjort Olârs" lang="sv">
  <section id="opening-hours">
    <h2>Öppettider</h2>
    <ul class="hours-list">
      <li><span>Måndag - Fredag</span> <span>{hoursData.monFri}</span></li>
      <li><span>Lördag</span> <span>{hoursData.saturday}</span></li>
      <li><span>Söndag</span> <span>{hoursData.sunday}</span></li>
    </ul>
  </section>
</BaseLayout>